<ul class="nav nav-stacked">
  <li class="active" ng-class="{active: view == 'alert.html'}">
    <a href="#" ng-click="setView('alert.html')" >
      <span class="glyphicon glyphicon-chevron-right"></span> Alert
    </a>
  </li>
  <li ng-class="{active: view == 'input.html'}">
    <a href="#" ng-click="setView('input.html')" >
      <span class="glyphicon glyphicon-chevron-right"></span> Input
    </a>
  </li>
  <li ng-class="{active: view == 'table.html'}">
    <a href="#" ng-click="setView('table.html')" >
      <span class="glyphicon glyphicon-chevron-right"></span> Table
    </a>
  </li>
  <li ng-class="{active: view == 'spark.html'}">
    <a href="#" ng-click="setView('spark.html')" >
      <span class="glyphicon glyphicon-chevron-right"></span> Spark
    </a>
  </li> 
  <li ng-class="{active: view == 'knob.html'}">
    <a href="#" ng-click="setView('knob.html')" >
      <span class="glyphicon glyphicon-chevron-right"></span> Knob
    </a>
  </li>   
</ul>
